# ===============================
# Node / React / Expo
# ===============================
node_modules/
.expo/
dist/
build/

# ===============================
# .NET
# ===============================
bin/
obj/
*.user
*.suo

# ===============================
# Python / AI
# ===============================
__pycache__/
*.pyc
*.pyo
.env
*.pt
*.pth
*.keras
*.h5

# ===============================
# OS / IDE
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
